---
import Logo from './logo.astro';
import Navigation from './navigation.astro';
import ThemeToggle from './theme-toggle.astro';
---

<header>
  <div class="inner">
    <Logo />

    <div class="right">
      <Navigation />

      <div class="theme-toggle not-selectable">
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background: var(--background-header);

    @media (max-width: 684px) {
      padding: 15px 20px;
    }
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: var(--content-width);
    max-width: 100%;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @media (max-width: 684px) {
      flex-direction: row-reverse;
    }
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
  }

  .not-selectable {
    user-select: none;
  }
</style>
