---
import { RssIcon } from '@components/icons';
---

<footer>
  <div class="footer-inner">
    <div class="footer-content">
      <span>© 2025</span>
      <span>
        <a
          href="/sitemap-index.xml"
          class="rss-icon"
          target="_blank"
          title="RSS"
          aria-label="RSS"
        >
          <RssIcon />
        </a>
      </span>
    </div>
  </div>
  <div class="footer-inner">
    <div class="footer-content">
      <span
        >Built with <a
          target="_blank"
          href="https://astro.build"
          rel="me noopener"
          title="Astro"
          aria-label="Astro">Astro</a
        >
      </span>

      <span
        >Served by <a
          target="_blank"
          href="https://workers.cloudflare.com"
          rel="me noopener"
          title="Cloudflare"
          aria-label="Cloudflare">Cloudflare</a
        >
      </span>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 40px 20px;
    flex-grow: 0;
    color: var(--color-footer);

    @media (max-width: 684px) {
      padding: 30px 20px;
    }
  }

  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: var(--content-width);
    max-width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: var(--color-secondary);
  }

  .footer-content > *:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    margin: 0 0.5em;
    border-radius: 50%;
    background: currentColor;
    vertical-align: 0.2em;
  }

  .footer-content > *:last-child {
    padding: 0;
  }

  .footer-content a {
    color: inherit;
  }

  .footer-content svg {
    vertical-align: middle;
  }

  .footer-inner:first-child .footer-content {
    @media (max-width: 900px) {
      margin-top: 0;
    }
  }

  .footer-inner:not(:first-child) .footer-content {
    @media (max-width: 900px) {
      flex-direction: column;

      > *:not(:last-child)::after {
        content: '';
        display: none;
      }
    }
  }

  .footer-inner {
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
</style>
